<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">  <!-- Just add parallel="tests" for parallel testing -->
  <parameter name="browser" value="chrome"/>
  
  <listeners>
  <listener class-name="Reports.ExtentReporterNG"></listener>
    </listeners>
  
  <test name="chromeBrowserTesting">
  		<classes>
 	  		<class name="testCases.verifyUser">
  		</class>
  			</classes>  
  			
  </test> <!-- Test -->
   
</suite> <!-- Suite -->	
